<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tiffany</title>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="/styles/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Owl Carousel -->
		<link type="text/css" rel="stylesheet" href="/styles/owl/owl.carousel.css" />
		<link type="text/css" rel="stylesheet" href="/styles/owl/owl.theme.default.css" />

    <!-- Custom fonts for this template -->
    <link href="/styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <!-- Custom styles for this template -->
    <link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

  </head>

	<body id="page-top">

		<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top"><img src="/images/color_logo_transparent.png" class="img-fluid navbar-logo" alt="logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>


		<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="/#page-top" class="js-scroll-trigger"><img src="/images/color_logo_transparent.png" alt="logo"></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="https://www.behance.net/tiffanyhuang/" target="_blank"><i class="fa fa-behance mt-3"></i></a></li>
						<li><a href="https://www.linkedin.com/in/tiffanyhuangqy/" target="_blank"><i class="fa fa-linkedin mt-3"></i></a></li>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<!-- <div class="footer-copyright">
						<p>Copyright © 2018. All Rights Reserved. Designed by <a href="http://savvyrocks.ca/" target="_blank">Savvy Media Inc.</a></p>
					</div> -->
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->



    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/main.js"></script>

		{{{isAdminEditorJS user}}}
	</body>
</html>
