<!-- Header -->
<header class="masthead" style="background-image: url('/images/background1.jpg');">
  <div class="container">
    <div class="intro-text mx-auto">
      <div class="intro-lead-in">Hi, I'm <p class="text-primary heading-strong">Tiffany</p>,</div>
      <div class="intro-lead-in">a User Experience Designer</div>
      <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
  </div>
</header>

<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading mb-5">I specialize in</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <!-- <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span> -->
				<img src="/images/Artboard 1.png" class="services-icon" alt="User Research">
        <h4 class="service-heading">User Research</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
				<img src="/images/Artboard 2.png" class="services-icon" alt="Conceptualization">
        <h4 class="service-heading">Conceptualization</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
				<img src="/images/Artboard 3.png" class="services-icon" alt="Visualizing Ideas">
        <h4 class="service-heading">Visualizing Ideas</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light" id="work">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">My Work</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row">

      {{# each data.posts.results}}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#{{title}}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{{ cloudinaryUrl image }}}" alt="{{{ title }}}">
        </a>
        <div class="portfolio-caption">
          <h4>{{title}}</h4>
          <p class="text-muted">{{{content.brief}}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>



<!-- Portfolio Modals -->
    {{# each data.posts.results}}
    <div class="portfolio-modal modal fade" id="{{title}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">{{title}}</h2>
                  <p class="item-intro text-muted">{{{content.brief}}}</p>
                  <img class="img-fluid d-block mx-auto" src="{{{ cloudinaryUrl image }}}" alt="">
                  <p>{{{content.extended}}}</p>
                  <ul class="list-inline">
                    <li>Date: {{formatDate publishedDate}}</li>
                    <li>Category: {{{content.brief}}}</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
