<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text mx-auto">
      <div class="intro-lead-in">Hi. I'm <p class="text-primary heading-strong">Tiffany</p>,</div>
      <div class="intro-lead-in">a UX/UI Designer</div>
      <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
  </div>
</header>

<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading mb-5">I Specialize In</h2>
        <!-- <h3 class="section-subheading text-gray">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <!-- <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span> -->
				<img src="/images/Artboard 1.png" class="services-icon" alt="User Research">
        <h4 class="service-heading">User Research</h4>
        <p class="text-gray">Competitive analysis, User stories, Surveys & Interviews, Affinity diagram, Mental models, User flows.</p>
      </div>
      <div class="col-md-4">
				<img src="/images/Artboard 2.png" class="services-icon" alt="Conceptualization">
        <h4 class="service-heading">Conceptualization</h4>
        <p class="text-gray">User persona, Information architecture, Sketching, Wireframing, Mock-ups, Usability testing.</p>
      </div>
      <div class="col-md-4">
				<img src="/images/Artboard 3.png" class="services-icon" alt="Visualizing Ideas">
        <h4 class="service-heading">Visualizing Ideas</h4>
        <p class="text-gray">Rapid prototyping, Visual design, Typography, Interaction design, HTML/CSS.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid -->
 <!-- class="bg-light" -->
<section id="work">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading mb-5">My Work</h2>
        <!-- <h3 class="section-subheading text-gray">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row">

      {{# each data.posts.results}}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#{{title}}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{{ cloudinaryUrl image }}}" alt="{{{ title }}}">
        </a>
        <div class="portfolio-caption">
          <h4>{{title}}</h4>
          <p class="text-gray">{{categories.0.name}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<!-- Why Choose Us -->
	<section id="about">

		<!-- Container -->
		<div class="container">
      <div class="section-header text-center">
        <h2>A Bit About Me</h2>
      </div>
			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-lg-6">
          <div class="about-info">
            <p>I’m Tiffany, a UX Designer. I’m also a recent graduate from the Cognitive science and Statistics programs at the University of Toronto. My multidisciplinary educational background has prepared me to be a both user-centered and data-driven designer. The Cognitive Science training has given me a comprehensive knowledge in human cognition and behaviour. And my learning in Statistics has armed me with strong expertise for conducting data-driven research. I’ve always believe that great experience comes from deep empathy toward users, and compelling design couldn’t be born without understanding how people perceive the world.</p>
            <p>Outside of design, I’m a dog parent. I love to take my babies to different parks and trails in the weekend and just enjoy seeing them play.</p>
          </div>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-lg-6 about-img">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="/images/about1.png" alt="about1">
						<img class="img-responsive" src="/images/about2.jpeg" alt="about2">
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</section>
	<!-- /Why Choose Us -->

  <!-- Contact -->
	<section id="contact">

		<!-- Container -->
		<div class="container">

      <!-- Section-header -->
      <div class="text-center">
        <h2>Get in touch</h2>
      </div>
      <!-- /Section-header -->

			<!-- Row -->
			<div class="row">

				<!-- contact -->
				<div class="col-sm-12 mx-auto">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p class="text-gray">info@tiffany.ca</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 offset-md-2">
					{{#if enquirySubmitted}}
					<h3 class="text-center">Thanks for getting in touch.</h3>
					{{else}}
					<form class="contact-form" method="post">
						<input type="hidden" name="action" value="contact">
						<div class="form-group first-line {{#if validationErrors.name}}has-error{{/if}}">
							<input type="text" name="name.full"  class="input" placeholder="Name" value="{{formData.[name.full]}}">
						</div>
						<div class="form-group first-line first-line-right {{#if validationErrors.email}}has-error{{/if}}">
							<input type="email" name="email" class="input" placeholder="Email" value="{{formData.email}}">
						</div>
						<div class="form-group">
							<input type="text" name="subject" placeholder="Subject" class="input" value="{{formData.subject}}">
						</div>
						<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
							<textarea name="message" placeholder="Message" class="input">{{formData.message}}</textarea>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary rounded">Send</button>
						</div>
					</form>
					{{/if}}
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</section>
	<!-- /Contact -->

<!-- Portfolio Modals -->
    {{# each data.posts.results}}
    <div class="portfolio-modal modal fade" id="{{title}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">{{title}}</h2>
                  <p class="item-intro text-gray">{{{content.brief}}}</p>
                  <img class="img-fluid d-block mx-auto" src="{{{ cloudinaryUrl image }}}" alt="">
                  <p>{{{content.extended}}}</p>
                  <ul class="list-inline">
                    <li>Date: {{formatDate publishedDate}}</li>
                    <li>Category: {{categories.0.name}}</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
